{% extends "admin/base.html" %}
{% load static cachebust %}

{% block extrastyle %}{{ block.super }}
  <meta name="color-scheme" content="light">
  <link rel="stylesheet" href="{% static_v 'admin/css/theme-marketplace.css' %}">
{% endblock %}

{% block extrahead %}{{ block.super }}
  <script src="{% static_v 'admin/js/password-toggle.js' %}" defer></script>
{% endblock %}

{% block branding %}
<div id="site-name">
  <a href="{% url 'admin:index' %}">
    <img class="brand-mark" src="{% static 'img/logo.jpg' %}" alt="Jennifer Website">
    <span class="brand-text">Jennifer Website</span>
    <span class="brand-sep" aria-hidden="true"></span>
    <span class="brand-sub">Administration</span>
  </a>
</div>
{% endblock %}

{% block nav-global %}{% endblock %}
